<p id="notice"><%= notice %></p>

<div class=" container mx-auto mt-10 flex flex-grow justify-center">
  <% @gifs.each do |gif| %>
    <div class="max-w-xs m-4 rounded shadow ">
      <%= link_to image_tag(gif.image_url), gif, class: "mx-auto" %>
      <div class="p-2 text-center text-sm">
        <%= linked_tag_list gif %>
      </div>
    </div>
  <% end %>
</div>


