<p id="notice"><%= notice %></p>

<div class="container mx-auto mt-10 flex flex-wrap justify-center">
  <%= render @gifs %>
</div>


<%= cl_image_tag("",
                 width: 400, height: 300, crop: :fill) %>